*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
    background-color: #eee;
}

h1{
    font-size: 28pt;
    color: #66c;
    text-align: center;
    border-bottom: 2px solid #66c;
}
section{
    width: 70%;
    margin:0px auto;
    background-color: #edc;
    position:relative;
}
div{
    width: 300px;
    padding: 20px;
    border: 5px solid #666;
    background-color: #ddd;
    font-size: 9pt;
    text-align: justify;
}
.pomeren{
    background-color: rgba(255,25,210,0.8);
    position:relative;
    top:30px;
    left:70px;
}
.spec{
    background-color: rgba(230,200,255,0.8);
    position:absolute;
    top: -10px;
    left: -100px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0px auto;
}
td{
    border: 1px solid black;
    margin: 0px;
    padding:5px 10px 5px 10px;
    text-align: center;
    font-weight: bold;
    background-color: #edc ;
}
tr{
    margin:0px;
}
.cel{
    background-color: #ffc;
    color: red;
}
.cel:hover{
    background-color: #fcc;
}
#float{
    position: fixed;
    top:20px;
    right: 20px;
    width:170px;
    height: 170px;
    background-color: white;
    font-size: 7px;
}
ol{
    padding:2em;
    border:2px dotted gray;
    background-color: #edc;
}
ol li{
    background-color: #def;
    padding: 0.5em;
    border:1px solid #25c;
}
.pod{
    background-color: #efc;
    padding: 0px;
    border: 1px solid green;
}
ul{
    background-color: #def;
}